.flex_container {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20rem;
    align-content: center;
}
.ActionButton {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.SignIn {
    margin: auto;
    display: block;
   background-color: blueviolet;
   width: 40%;
   height: 3rem;
   border-style :groove;
}
.SignUp {
    margin: auto;
    display: block;
    background-color: blueviolet;
    width: 40%;
    height: 3rem;
    border-style :groove;
}
@media (max-width : 480px) {
     .ActionButton {
         width : 100%;
         height: 30vh;
         flex-wrap: wrap;
     }
     .SignIn {
         width: 80%;
     }
     .SignUp {
         width: 80%;
     }
}
.SignIn:hover{
    background-color: indianred;
}
.SignUp:hover{
    background-color: indianred;
}