.card {
    margin: auto;
    width: auto;
    height: auto;
    max-width: 500px;
    margin-top: 2vh;
}
.flex_container {
    display: flex;
    justify-content: space-between;
}

.flex_container div {
    display: block;
    width: 33%;
    text-align: center;
}
.flex_container label {
    width: 5rem;
    font-size: large;
}
.downbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
}
.downbar_button {
    display: block;
    color: #ffff;
    background-color: burlywood;
}

