.nopost {
    margin: auto;
    width: auto;
    text-align: center;
    justify-content: center;
    border: 4px solid white;
    border-radius: 10px;
    max-width: 500px;
    margin-top: 2vh;
    color: rgb(174, 0, 255);
}

@media (max-width : 480px) {
    .nopost {
        width: 90%;
    }
}

